.sistemasolar{
    height: 500px;
    width: 700px;
    margin-top: 20px;
    /* box-shadow: 0 60px 100px #000; */
}

/* .sistemasolar:hover{
    transform: perspective(600px) rotate(0deg);
} */



.imagenmercurio{
    height: 400px;
    width: 400px;
    margin-top: 200px;
    margin-left: 70px;
}


.Rmercurio{
    margin-left: 300px;
    margin-top: 40px;
}

.imagevenus{
    margin-left: 150px;
    margin-top: 150px;
    width: 400px;
    height: 400px;

}


/*global*/



.imagen{
    margin-top: 80px;
    margin-left: 150px;
    height: 400px;
    width: 400px;
}

.R{
    margin-left: 300px;
    margin-top: 50px;
    height: 500px;
    width: 700px;
    margin-bottom: 50px;
}