.imagenestrella{
    height: 300px;
    width: 300px;
    margin-left: 80px;
    margin-top: 30px;
}

.imagenestrella1{
    height: 300px;
    width: 300px;
    margin-left: 300px;
    
}



.imagen1{
    margin-top: 80px;
    height: 340px;
    width: 300px;
    margin-left: 40px;
}


.imagen2{
    margin-top: 80px;
    height: 340px;
    width: 300px;
    margin-left: 30px;
}

/*imagenes de datos*/

.imagendatos{
    height: 500px;
    width: 200px;
    margin-left: 15px;
}

.imagendatos1{
    height: 500px;
    width: 350px;
    margin-left: 15px;
    
   
}


